@use "../quote-detail/commercial-detail";
@use "shared/page-header/detail-page";
.review-check {
  display: flex;
  align-items: start;
  gap: var(--space-3);
}
.review-check input {
  margin-top: 0.3em;
  flex: none;
}
